<main class="form-signin text-center mt-5">
  <div style="max-width: 400px;margin:auto">
    <h1 class="h3 mb-3 fw-normal">Iniciar Sesión</h1>

    <div class="form-floating">
      <input type="text" [(ngModel)]="usuario" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Usuario</label>
    </div>
    <div class="form-floating">
      <input type="password" [(ngModel)]="contrasena" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Contraseña</label>
    </div>
    <br>
    <button class="w-100 btn btn-lg btn-primary" (click)="iniciarSesion()" type="submit">Iniciar Sesión</button>
  </div>
</main>